@model IHMS.ViewModel.CCoachViewModel
@using IHMS.Controllers
@{
    ViewData["Title"] = "List";
    Layout = "frontend_Layout";
}

@section Styles{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <style>
        /*左邊上半部*/
        .back {
            margin-bottom: 30px;
        }

            .back a {
                color: #4F4F4F;
                transition: .2s;
            }

                .back a:hover {
                    color: #4F4F4F;
                }

        .divLeft {
            text-align: center;
        }

        .imgMain {
            border-radius: 50%;
            width: 250px;
            height: 250px;
        }

        .name {
            margin-bottom: 10px;
        }

        .liAvgRate {
            margin-bottom: 20px !important;
            display: flex;
        }

        .intro {
            margin: 0px 60px;
            text-align: justify;
        }

        .ulBtns {
            display: flex;
            justify-content: space-evenly;
            list-style: none;
        }

            .ulBtns > li {
                width: 40%;
                text-align: center;
                margin: 40px;
                border: 2px solid #3C3C3C;
                border-radius: 10px;
                transition: .3s;
            }

                .ulBtns > li:hover {
                    border: 2px solid #930000;
                }

                .ulBtns > li > a {
                    display: block;
                    width: 100%;
                    height: 100%;
                    padding: 10px;
                    transition: .3s;
                    color: #3C3C3C;
                    font-size: 16px;
                }

                    .ulBtns > li > a:hover {
                        color: #930000;
                    }

        /*左邊下半部*/
        .info_details, .rate {
            width: 100%;
            padding: 0px 30px;
        }

        .topic {
            padding: 30px 0px 15px 0px;
        }

        .info_details_list {
            list-style-position: inside;
            list-style: none;
        }

            .info_details_list > li {
                margin: 10px 0px;
            }

            .info_details_list > hr {
                padding-top: 30px;
            }

        .nav-tabs::before, .nav-tabs::after {
            content: none !important;
        }

        .bar {
            display: inline-block;
            width: 160px;
            height: 2px;
            background-color: lightgray;
            line-height: 26px;
        }

        .tabs {
            width: 100%;
        }

        .product__details__tab {
            padding-top: 50px;
        }

        .tab_content {
            padding: 0px 40px !important;
        }

        .rate {
            margin-bottom: 30px;
            padding: 0px;
        }

        .divSort {
            text-align: right;
            padding-top: 15px;
            padding-right: 30px;
        }

        .star {
            height: 18px;
        }

        .starOrig {
            filter: grayscale(1);
        }

        .divMore {
            text-align: center;
        }

        #btnMore {
            border: none;
            background-color: transparent;
            transition: .2s;
        }

            #btnMore:hover {
                color: #7fad39;
            }

        /*推薦教練*/
        .divRecContent {
            margin-top: 80px;
            margin-left: 40px;
        }

        .divRecTopic > span {
            margin: 10px 0px;
            font-size: 22px;
        }

        .spTopic2 {
            padding-left: 50px;
        }

        .coach-container {
            display: flex;
            flex-direction: column;
            align-items: center; /* Center the coaches vertically within the container */
        }
        .recBar {
            text-align: right;
            height: 2px;
            margin: 20px 0px;
            margin-left: 55px;
            background-color: #5B5B5B;
        }

        .divRec {
            margin-bottom: 30px;
            border-radius: 10px;
            padding: 20px 15px 10px 15px;
            border: 1px solid #F0F0F0;
            transition: .3s;
        }

            .divRec:hover {
                border: 1px solid #5B5B5B;
                box-shadow: 2px 2px 5px lightgray;
            }

            .divRec span {
                font-size: 14px;
            }

        .divRecCoach {
            padding: 0px;
            padding-right: 10px;
            text-align: justify;
            line-height: 24px;
        }

        .divRecName h4 {
            margin-bottom: 10px;
        }

        .coach_img {
            border-radius: 50%;
            border: 3px solid white;
            width: 100px;
            height: 100px;
            transition: .3s;
        }

        .aRec {
            color: #404040;
        }

            .aRec:hover {
                color: #404040;
            }

        .spRec {
            text-align: justify;
        }

        .divRecList {
            padding: 10px 10px;
        }

        .recSkill {
            line-height: 24px;
        }

        .icon {
            height: 16px;
        }

        .li {
            margin: 5px 0px;
            font-size: 16px;
        }


        .selTime1, .selTime2 {
            display: inline !important;
            width: 48%;
           
        }

        .table td, .table th {
            padding: 0;
            font-family: Consolas;
            text-align: center;
        }

        .period1, .period2, .period3, .period4, .period5, .period6, .period {
            background-color: dimgray;
        }

        .available {
            background-color: #66CDAA;
        }

            .available:hover {
                background-color: #00FA9A;
            }

        .unavailable {
            background-color: teal;
            color: #FFF0F5;
            font-weight: 700;
        }

            .unavailable:hover {
                background-color: teal;
            }

        #gotop {
            position: fixed;
            z-index: 90;
            right: 30px;
            bottom: 31px;
            display: none;
            width: 50px;
            height: 50px;
            color: #fff;
            background: #7fad39;
            line-height: 50px;
            border-radius: 50%;
            transition: all 0.5s;
            text-align: center;
            box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
        }
    </style>
}
@*banner大圖*@
<section>
    <div id="title">
        <div>
            <div class="row text-center">
                <div class="col-lg-12 breadcrumb__text">
                    @*h2內容請自行更換*@
                    <h2>私人教練專區</h2>
                    <div class="breadcrumb__option">
                        <a href="~/Student/CoachList">Home</a>
                        <span>Training</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="product spad">
    <div class="container">
        <div class="row">
            @*※※※非會員專區的View的內容請從此處開始※※※*@
            <div class="col-lg-10">
                <div class="back reveal_t1"><a href="/Student/CoachList">< 返回教練列表</a></div>
                <div class="row divUp">
                    <div class="col-md-4 reveal_t1 divLeft">
                        <img src="~/img/Coach/coachImage/@Model.CoachImage" class="imgMain" />
                    </div>
                    <div class="col-md-8 divMainCoach reveal_r1">
                        <ul>
                            <li style="list-style:none" class="name"><h3><b>@Model.CoachName</b></h3></li>
                            
                            <li style="list-style:none" class="li">
                                <img src="~/img/Coach/icon/location.png" class="icon" /><b>&nbsp;&nbsp;&nbsp;授課地區： </b>
                                <span>@Model.CityName</span>
                            </li>
                            <li style="list-style:none" class="li">
                                <img src="~/img/Coach/icon/skill.png" class="icon" /><b>&nbsp;&nbsp;&nbsp;專長： </b>
                                @{
                                    string s = "";
                                    foreach (var skill in Model.Coach.CoachSkills)
                                    {
                                        s += skill.Skill.SkillName;
                                        s += "、";
                                    }
                                    if (s.Length != 0)
                                    {
                                        s = s.Substring(0, s.Length - 1);
                                    }
                                    <span class="spSkill">@s</span>
                                }
                            </li>
                            
                            <li style="list-style:none" class="li">
                                <img src="~/img/Coach/icon/fee.png" class="icon" /><b>&nbsp;&nbsp;&nbsp;參考費用： $</b><span>@Model.CoachFee/時</span>
                            </li>
                        </ul>
                        <ul class="ServiceProfile__buttonList___27UCn ulBtns">
                            
                            <li>
                                <a href="#" id="addContact" onclick="openModal(),getAvailableTime()" data-toggle="modal" data-nexthref="~/Student/ViewCoachDetails/@Model.CoachId">
                                    <i class="fa-solid fa-comment" data-nexthref="~/Student/ViewCoachDetails/@Model.CoachId"></i>
                                    <b data-nexthref="~/Student/ViewCoachDetails/@Model.CoachId">&nbsp;&nbsp;我想預約</b>
                                </a>
                            
                            </li>
                        </ul>
                    </div>
                    <div class="intro">
                        <div class="topic"><h5><b>教練介紹</b></h5></div>
                        <h7>@Model.CoachDescription</h7>
                    </div>
                </div>
                <div class="product__details__tab tabs">
                    <ul class="nav nav-tabs tablist" role="tablist">
                        <li><div class="bar"></div></li>
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab" aria-selected="false">經歷及相關證照</a>
                        </li>
                        
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabs-1" role="tabpanel">
                            <div class="product__details__tab__desc tab_content reveal_b1">
                                <div><h5 class="topic"><b>經歷</b></h5></div>
                                <ul class="info_details_list ">
                                    @{
                                        foreach (var exp in Model.Coach.CoachExperiences)
                                        {
                                            <li><img src="~/img/Coach/icon/experience.png" class="icon" />&nbsp;&nbsp;@exp.Experience</li>
                                        }
                                    }
                                </ul><br />
                                <div><h5 class="topic"><b>專業證照</b></h5></div>
                                <ul class="info_details_list">
                                    @{
                                        foreach (var lic in Model.Coach.CoachLicenses)
                                        {
                                            <li><img src="~/img/Coach/icon/license.png" class="icon" />&nbsp;&nbsp;@lic.License</li>
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                        
                        </div>
                    </div>
                </div>
            </div>
           

            
    
</section>


@*彈出視窗:我想預約*@
<div class="modal fade" id="modalContact" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">預約教練<small>-以下為教練目前的周課表</small></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body row">
                <div class="col-lg-8">
                    <table class="table table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Mon</th>
                                <th>Tue</th>
                                <th>Wed</th>
                                <th>Thu</th>
                                <th>Fri</th>
                                <th>Sat</th>
                                <th>Sun</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>09:00</td>
                                <td id="td19" class="period1"></td>
                                <td id="td29" class="period1"></td>
                                <td id="td39" class="period1"></td>
                                <td id="td49" class="period1"></td>
                                <td id="td59" class="period1"></td>
                                <td id="td69" class="period4"></td>
                                <td id="td79" class="period4"></td>
                            </tr>
                            <tr>
                                <td>10:00</td>
                                <td id="td110" class="period1"></td>
                                <td id="td210" class="period1"></td>
                                <td id="td310" class="period1"></td>
                                <td id="td410" class="period1"></td>
                                <td id="td510" class="period1"></td>
                                <td id="td610" class="period4"></td>
                                <td id="td710" class="period4"></td>
                            </tr>
                            <tr>
                                <td>11:00</td>
                                <td id="td111" class="period1"></td>
                                <td id="td211" class="period1"></td>
                                <td id="td311" class="period1"></td>
                                <td id="td411" class="period1"></td>
                                <td id="td511" class="period1"></td>
                                <td id="td611" class="period4"></td>
                                <td id="td711" class="period4"></td>
                            </tr>
                            <tr>
                                <td>12:00</td>
                                <td id="td112" class="period1"></td>
                                <td id="td212" class="period1"></td>
                                <td id="td312" class="period1"></td>
                                <td id="td412" class="period1"></td>
                                <td id="td512" class="period1"></td>
                                <td id="td612" class="period4"></td>
                                <td id="td712" class="period4"></td>
                            </tr>
                            <tr>
                                <td>13:00</td>
                                <td id="td113" class="period2"></td>
                                <td id="td213" class="period2"></td>
                                <td id="td313" class="period2"></td>
                                <td id="td413" class="period2"></td>
                                <td id="td513" class="period2"></td>
                                <td id="td613" class="period5"></td>
                                <td id="td713" class="period5"></td>
                            </tr>
                            <tr>
                                <td>14:00</td>
                                <td id="td114" class="period2"></td>
                                <td id="td214" class="period2"></td>
                                <td id="td314" class="period2"></td>
                                <td id="td414" class="period2"></td>
                                <td id="td514" class="period2"></td>
                                <td id="td614" class="period5"></td>
                                <td id="td714" class="period5"></td>
                            </tr>
                            <tr>
                                <td>15:00</td>
                                <td id="td115" class="period2"></td>
                                <td id="td215" class="period2"></td>
                                <td id="td315" class="period2"></td>
                                <td id="td415" class="period2"></td>
                                <td id="td515" class="period2"></td>
                                <td id="td615" class="period5"></td>
                                <td id="td715" class="period5"></td>
                            </tr>
                            <tr>
                                <td>16:00</td>
                                <td id="td116" class="period2"></td>
                                <td id="td216" class="period2"></td>
                                <td id="td316" class="period2"></td>
                                <td id="td416" class="period2"></td>
                                <td id="td516" class="period2"></td>
                                <td id="td616" class="period5"></td>
                                <td id="td716" class="period5"></td>
                            </tr>
                            <tr>
                                <td>17:00</td>
                                <td id="td117" class="period2"></td>
                                <td id="td217" class="period2"></td>
                                <td id="td317" class="period2"></td>
                                <td id="td417" class="period2"></td>
                                <td id="td517" class="period2"></td>
                                <td id="td617" class="period5"></td>
                                <td id="td717" class="period5"></td>
                            </tr>
                            <tr>
                                <td>18:00</td>
                                <td id="td118" class="period3"></td>
                                <td id="td218" class="period3"></td>
                                <td id="td318" class="period3"></td>
                                <td id="td418" class="period3"></td>
                                <td id="td518" class="period3"></td>
                                <td id="td618" class="period6"></td>
                                <td id="td718" class="period6"></td>
                            </tr>
                            <tr>
                                <td>19:00</td>
                                <td id="td119" class="period3"></td>
                                <td id="td219" class="period3"></td>
                                <td id="td319" class="period3"></td>
                                <td id="td419" class="period3"></td>
                                <td id="td519" class="period3"></td>
                                <td id="td619" class="period6"></td>
                                <td id="td719" class="period6"></td>
                            </tr>
                            <tr>
                                <td>20:00</td>
                                <td id="td120" class="period3"></td>
                                <td id="td220" class="period3"></td>
                                <td id="td320" class="period3"></td>
                                <td id="td420" class="period3"></td>
                                <td id="td520" class="period3"></td>
                                <td id="td620" class="period6"></td>
                                <td id="td720" class="period6"></td>
                            </tr>
                            <tr>
                                <td>21:00</td>
                                <td id="td121" class="period3"></td>
                                <td id="td221" class="period3"></td>
                                <td id="td321" class="period3"></td>
                                <td id="td421" class="period3"></td>
                                <td id="td521" class="period3"></td>
                                <td id="td621" class="period6"></td>
                                <td id="td721" class="period6"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>教練</label>
                        <input type="text" class="form-control" value="@Model.CoachName" readonly>
                    </div>
                    <div class="form-group">
                        <label>偏好時段</label>
                        <div>
                            <select class="selTime1">
                                <option value="7">星期日</option>
                                <option value="1">星期一</option>
                                <option value="2">星期二</option>
                                <option value="3">星期三</option>
                                <option value="4">星期四</option>
                                <option value="5">星期五</option>
                                <option value="6">星期六</option>
                            </select>
                            <select class="selTime2">
                                <option value="9">09:00</option>
                                <option value="10">10:00</option>
                                <option value="11">11:00</option>
                                <option value="12">12:00</option>
                                <option value="13">13:00</option>
                                <option value="14">14:00</option>
                                <option value="15">15:00</option>
                                <option value="16">16:00</option>
                                <option value="17">17:00</option>
                                <option value="18">18:00</option>
                                <option value="19">19:00</option>
                                <option value="20">20:00</option>
                                <option value="21">21:00</option>
                            </select>
                        </div>
                    </div>
                    <small>*送出聯繫後，需經教練確認，才會進行課程安排唷！</small>
                    <div style="justify-content: end; display: flex; ">
                        <a onclick="caochReserve()" class="btn btn-success">
                            <i class="fa fa-paper-plane" aria-hidden="true"></i>確認預約
                        </a>
                    </div>
                    <br />
                    <table>
                        <tr>
                           @* <td class="period" style="width:2vw"></td>
                            <td>未開放</td>*@
                        </tr>
                        <tr>
                            <td class="available" style="width:2vw"></td>
                            <td>可預約</td>
                        </tr>
                        <tr>
                            <td class="unavailable" style="width:2vw"></td>
                            <td>已額滿</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
               //GoTop
               $('#gotop').click(function () {
                   $('html,body').animate({ scrollTop: 0 }, 'slow');
                   return false;
               });
               $(window).scroll(function () {
                   if ($(this).scrollTop() > 400) {
                       $('#gotop').fadeIn();
                   } else {
                       $('#gotop').fadeOut();
                   }
               });

        function openModal() {
            $('#modalContact').modal('show');
        }

        const caochReserve = async () => {         
            const point = await loadPointRecord()
            if (point < @Model.CoachFee) {
                alert('餘額不足')
                window.location.href = "http://localhost:5174/BuyPoint";
            }
            else{
                const formData = new FormData()
                formData.append('coachid', @Model.CoachId )
                formData.append('MemberId', 6)
                const API_URL = `https://localhost:7127/api/OrdersDTO/reserve`
                const res = await fetch(API_URL, {
                    method: 'POST',
                    body: formData,
                }).catch(err => {
                    console.log(err);
                })              
            }        
        }


        const loadPointRecord = async () => {          
                const res = await fetch(`https://localhost:7127/api/PointRecordsDTO/sum/6`)
                return await res.json()                          
        };
               

        

               //預約時間表
        function getAvailableTime() {
            $.get("@Url.Content("~/Student/getAvailableTimeId")", { id: @Model.CoachId}, function (ids) {
                $.each(ids, function (idx, val) {
                    $(`.period${val}`).addClass("available");
                    $(`.period${val}`).on("click", function () {
                        let tdid = $(event.target).attr("id");
                        let week = tdid.substr(2, 1);
                        let time = tdid.substr(3, 2);
                        $(".selTime1").val(week);
                        $(".selTime2").val(time);
                    })
                    $(`.period${val}`).removeClass(`period${val}`);
                })
            })
            $.get("@Url.Content("~/Student/getAvailableTimeNum")", { id: @Model.CoachId}, function (nums) {
                $.each(nums, function (idx, val) {
                    $(`#td${val}`).addClass("unavailable").removeClass("available");
                    $(`#td${val}`).text("額滿");
                    $(`#td${val}`).off("click");
                })
            })
        }
        getAvailableTime();

               //送出通知
               $("#btnSendContact").click(function () {
                   $.get("@Url.Content("~/Student/createOrder")", { FCoachId:@Model.CoachId, FAvailableTimeNum: `${$(".selTime1").val()}${$(".selTime2").val()}` }, function () {
                       SwalGreen.fire({
                           title: `已通知教練`,
                           showDenyButton: false,
                           showCancelButton: true,
                           confirmButtonText: '前往聯繫紀錄',
                           cancelButtonText:'繼續瀏覽',
                           icon: 'success'
                       }).then((result) => {
                           if (result.isConfirmed) {
                               /*跳轉CandidateList*/
                               window.location.href = `${window.location.protocol}//${window.location.host}/Student/CandidateList`;
                           }
                       })
                   })
               })

              

               
    </script>
}