@model IEnumerable<IHMS.ViewModel.PPlanListViewModel>

@{
    ViewData["Title"] = "List";
}

<h1>計畫一覽</h1>


<table class="table">

    <thead>
        <tr>
            <th>
                編號
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Registerdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @{
            int count = 0;
            foreach (var item in Model)
        {
                count++;
            <tr>
                <td>
                    @count
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Registerdate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                        @Html.ActionLink("Detail", "Detail", new { id=item.PlanId }, new{@class="btn btn-success"}) |
                        @Html.ActionLink("Delete", "Delete", new { id=item.PlanId },new { onclick = "return confirm('確定要刪除嗎?')", @class = "btn btn-danger" })
                </td>
            </tr>
        }
        }
    </tbody>
</table>