@model IEnumerable<IHMS.ViewModel.CTeachingListViewModel>
@{
    IhmsContext db = new IhmsContext();
    Layout = "frontend_Layout";

}
@section Styles{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        /*教練專區導覽列*/
        .blog__btn {
            display: inline-block;
            font-size: 14px;
            color: #1c1c1c;
            text-transform: uppercase;
            letter-spacing: 1px;
            border: 1px solid #b2b2b2;
            padding: 14px 20px 12px;
            border-radius: 25px;
        }

            .blog__btn:visited {
                color: #1c1c1c;
            }

            .blog__btn:hover {
                border: 1px solid #6F4315;
                color: #6F4315;
            }

            .blog__btn:active {
                color: black;
                font-weight: 800;
            }

        .sidebar__item ul li a {
            margin-bottom: 1vh;
        }

        .sidebar__item {
            border: 1px solid lightgray;
            box-shadow: 2px 2px 5px lightgray;
            padding: 20px;
            margin-right: 30px;
            margin-bottom: 20px;
        }

            .sidebar__item h5 {
                text-align: center;
                margin-bottom: 20px;
                padding: 10px;
                background-color: #452A0D;
                color: white;
            }

            .sidebar__item li:hover {
                transition: .2s;
                background-color: #EDE8E2;
            }

            .sidebar__item i {
                margin-right: 8px;
            }

        .liThis {
            background-color: #EFEDED;
        }

        /*列表*/
        .btn-success {
            background-color: #7FAD39;
            border: none;
        }

            .btn-success:disabled {
                background-color: gray;
            }

        .btnDone {
            background-color: #40561C;
        }

            .btnDone:hover {
                background-color: #4F6C24;
            }

        .divLink {
            display: flex;
            justify-items: center;
            height: 70px;
        }

        .divOther {
            padding: 0px;
        }

            .divOther span {
                color: gray;
                line-height: 70px;
            }

            .divOther i {
                color: gray;
            }

        .divUrl {
            margin-left: 10px;
            padding: 15px;
            line-height: 40px;
            border: 1px solid gray;
            border-radius: 20px;
        }

            .divUrl i {
                color: lightgray;
            }

            .divUrl span {
                color: dimgray;
                text-decoration: none;
                transition: .3s;
            }

                .divUrl span:hover {
                    color: black;
                    cursor: pointer;
                }

        .tdBtns {
            text-align: right;
        }

        .selStatus {
            background-color: #343a40;
            color: white;
            font-weight: 700;
            border: none;
        }

        .tdStatus {
            font-weight: 700;
        }

        /*排課紀錄*/
        .h5Records {
            color: #7fad39
        }

        .selTime, .selStatus {
            display: inline !important;
        }

        .nice-select {
            display: none !important;
        }

        /*行事曆*/
        .divDate {
            width: 70%;
            margin: 20px auto;
            padding: 0px 100px;
            display: flex;
        }

            .divDate button {
                width: 30px;
                margin: 0px 10px;
                background-color: whitesmoke;
                border: 1px solid white;
                border-radius: 50px;
            }

                .divDate button:hover {
                    border: 1px solid #7FAD39;
                }

        #inputMon {
            display: inline;
            width: 300px;
        }

        .divDL {
            text-align: right;
            margin-bottom: 10px;
            position: absolute;
            right: 15px;
            top: 35px;
        }

        #tableCal {
            width: 100%;
            border: 1px solid #BFBFBF;
        }

            #tableCal thead {
                background-color: #404040;
                color: white;
                font-family: Consolas;
                font-size: 18px;
                text-align: center;
            }

            #tableCal tbody {
                font-size: 18px;
                text-align: center;
                color: #7fad39;
            }

                #tableCal tbody tr {
                    height: 120px;
                }

                    #tableCal tbody tr td {
                        vertical-align: top;
                        transition: .2s;
                    }

            #tableCal th, #tableCal td, .orig {
                border: 1px solid #BFBFBF;
                width: 120px;
            }

        .false {
            background-color: #F3F3F3;
        }

        .true {
            background-color: white;
        }

        .today {
            background-color: #EFF5E6;
        }

        .color1 {
            background-color: #005F73;
        }

        .color2 {
            background-color: #0A9396;
        }

        .color3 {
            background-color: #94D2BD;
        }

        .color4 {
            background-color: #B5A882;
        }

        .color5 {
            background-color: #EE9B00;
        }

        .color6 {
            background-color: #CA6702;
        }

        .color7 {
            background-color: #007A24;
        }

        .color8 {
            background-color: #6CA25A;
        }

        .color9 {
            background-color: #870005;
        }

        .color10 {
            background-color: #003039;
        }

        .divRecord {
            display: inline-block;
            margin: 0px;
            width: 100%;
            border-radius: 5px;
            font-size: 14px;
            font-weight: 300;
            color: white;
        }
    </style>
}

@*banner大圖*@
<section class="breadcrumb-section set-bg" data-setbg="/img/banner/banner_coach.png">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    @*h2內容請自行更換*@
                    <h2 class="reveal_t1">教課列表</h2>
                    <div class="breadcrumb__option reveal_t1">
                        <a href="~/Student/CoachList">Home</a>
                        <span>Coach</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<section class="product spad">
    <div class="container">
        <div class="row">
            @*教練專區左側導覽列*@
            <div class="col-lg-3 col-md-5">
                <div class="sidebar" style="position:sticky;top:150px;">
                    <div class="sidebar__item">
                        <h5>教練專區</h5>
                        <ul>
                            <li><a href="~/CoachFront/CreateResume"><i class="fa-solid fa-pen"></i>履歷管理</a></li>
                            
                            <li class="liThis"><a href="~/Coach/TeachingList" class="aLimit"><i class="fa-solid fa-dumbbell"></i>教課列表</a></li>
                        </ul>
                    </div>
                    <a href="~/Member/Edit" class="blog__btn"><span class="arrow_right"></span>會員專區</a>
                </div>
            </div>
            <div class="col-lg-9 col-md-7">
                @*※※※會員專區View內容請從此開始※※※*@
                <table class="table reveal_b1">
                    <thead class="thead-dark">
                        <tr>
                            <th>
                                No.
                            </th>
                            <th>
                               
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CourseName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.AvailableTimeNum)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CourseTotal)
                            </th>
                            <th>
                                剩餘
                            </th>
                            <th class="thStatus">
                                <select class="selStatus" id="selStatus">
                                    <option>@Html.DisplayNameFor(model => model.Status)</option>
                                    <option value="55">進行中</option>
                                    <option value="56">已結束</option>
                                </select>
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                       
                    </tbody>
                </table>
                <div class="divLink reveal_b2">
                    <div class="divOther"><i class="fa-solid fa-magnifying-glass"></i><span>&nbsp;&nbsp;想一覽所有課程？</span></div>
                    <div class="divUrl"><i class="fa-solid fa-arrow-right-long"></i><span data-toggle="modal" data-target="#addModal_cal">&nbsp;&nbsp;查看<b>課程行事曆</b></span></div>
                </div>
            </div>
        </div>
    </div>
</section>
@{
    foreach (var item in Model)
    {
        <!-- Modal --排課紀錄-->
       
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title h5Records" id="exampleModalLabel"><b>排課紀錄</b><span></span></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>
                                                No.
                                            </th>
                                            <th>
                                                上課日期
                                            </th>
                                            <th>
                                                上課時間
                                            </th>
                                            <th>
                                                排課狀態
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                       
                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btnClose" id="btnClose" data-dismiss="modal">關閉</button>
                    </div>
                </div>
            </div>
        
    }
}

<!--Modal-Calendar-->
<div class="modal fade" id="addModal_cal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="overflow: auto">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title h5Records"><b>課程行事曆</b><span></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <div class="divDate">
                        <button id="btnPre"><i class="fa-solid fa-caret-left"></i></button>
                        <input type="month" id="inputMon" />
                        <button id="btnNext"><i class="fa-solid fa-caret-right"></i></button>
                    </div>
                    <div class="divDL">
                        <button type="button" class="btn btn-success" id="btnDownload"><i class="fa-solid fa-download"></i>&nbsp;&nbsp;Download</button>
                    </div>
                    <div class="result">
                        <div class="divCal">
                            <div>
                                <table id="tableCal">
                                    <thead>
                                        <tr id="trHead">
                                            <th colspan="7" id="thYearMon"></th>
                                        </tr>
                                        <tr>
                                            <th>Sun</th>
                                            <th>Mon</th>
                                            <th>Tue</th>
                                            <th>Wed</th>
                                            <th>Thu</th>
                                            <th>Fri</th>
                                            <th>Sat</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btnClose" id="btnClose" data-dismiss="modal">關閉</button>
            </div>
        </div>
    </div>
</div>

@{
    <!--Modal-課程資料-->
    foreach (var item in Model)
    {
        <div class="modal fade modal_@item.CourseId" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title h5Records"><b>@item.CourseName</b><span></span></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                   
                </div>
            </div>
        </div>
    }
}


@section Scripts{
   
    <script>

        //篩選課程狀態
        let filter = $("#selStatus");
        filter.change(() => {
            if (filter.val() == "狀態") {
                $("tbody tr").show();
            }
            if (filter.val() == 55) {
                $.getJSON("@Url.Content("~/Coach/GetCourseInProcess")", { "id": "55" },
                    function (data) {
                        $.each(data, function (index, course) {
                            $(`#tr_${course}`).show();
                        });
                    })
                $.getJSON("@Url.Content("~/Coach/GetCourseDone")", { "id": "56" },
                    function (data) {
                        $.each(data, function (index, course) {
                            $(`#tr_${course}`).hide();
                        });
                    })
            }
            if (filter.val() == 56) {
                $.getJSON("@Url.Content("~/Coach/GetCourseInProcess")", { "id": "55" },
                    function (data) {
                        $.each(data, function (index, course) {
                            $(`#tr_${course}`).hide();
                        });
                    })
                $.getJSON("@Url.Content("~/Coach/GetCourseDone")", { "id": "56" },
                    function (data) {
                        $.each(data, function (index, course) {
                            $(`#tr_${course}`).show();
                        });
                    })
            }
        })
    </script>
    <script src="https://superal.github.io/canvas2image/canvas2image.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
    <!--行事曆-->
    <script>
        //下載圖片
        document.querySelector("#btnDownload").addEventListener("click", () => {
            html2canvas(document.querySelector('#tableCal'), {
                onrendered: function (canvas) {
                    return Canvas2Image.saveAsPNG(canvas);
                }
            });
        });

        let fullDate = new Date();  //取得今天日期
        let Year = fullDate.getFullYear();
        let Month = (fullDate.getMonth() + 1) >= 10 ? (fullDate.getMonth() + 1) : ("0" + (fullDate.getMonth() + 1));
        let date = fullDate.getDate();
        let totalDate = (new Date(Year, Month, 0)).getDate();   //取得該月總天數
        let weekDay, firstDay;
        $("#inputMon").val(`${Year}-${Month}`);
        $("#thYearMon").text(`${Year}-${Month}`);
        CreateCalendar();
        GetReservations()

        //年月改變時重新載入月曆
        $("#inputMon").change(() => {
            Year = $("#inputMon").val().substr(0, 4);
            Month = $("#inputMon").val().substr(5, 2);
            totalDate = (new Date(Year, Month, 0)).getDate();
            CreateCalendar();
            GetReservations()
        })

        //click下個月
        $("#btnNext").click(() => {
            if (Month == 12) {
                Year++;
                Month = "01";
            }
            else {
                let m = parseInt($("#inputMon").val().substr(5, 2));
                let newMon = m + 1 >= 10 ? m + 1 : "0" + (m + 1)
                Month = newMon;
            }
            $("#inputMon").val(`${Year}-${Month}`);
            $("#thYearMon").text(`${Year}-${Month}`);
            CreateCalendar();
            GetReservations()
        })
        //click上個月
        $("#btnPre").click(() => {
            if (Month == 1) {
                Year--;
                Month = "12";
            }
            else {
                let m = parseInt($("#inputMon").val().substr(5, 2));
                let newMon = m - 1 >= 10 ? m - 1 : "0" + (m - 1);
                Month = newMon;
            }
            $("#inputMon").val(`${Year}-${Month}`);
            $("#thYearMon").text(`${Year}-${Month}`);
            CreateCalendar();
            GetReservations()
        })

        //建立月曆
        function CreateCalendar() {
            let recent = document.querySelector("#tbody");
            if (recent)
                recent.remove();    //移除舊的月曆

            //新增tbody、第一行
            var tbody = document.createElement("tbody");
            tbody.setAttribute("id", "tbody");
            var fragtable = document.createDocumentFragment();
            var row = document.createElement("tr");
            var count = 0;

            //新增第一行空格
            firstDay = (new Date(Year, Month - 1, 1)).getDay(); //取得該月份第一天星期幾
            for (let i = 1; i <= firstDay; i++) {
                let td = document.createElement("td");
                td.className = "false";
                row.appendChild(td);
                count += 1;
            }

            //新增日期
            for (let i = 1; i <= totalDate; i++) {
                if (count >= 7) { //已大於7天則新增至下一週
                    fragtable.appendChild(row);
                    row = document.createElement("tr");
                    var td = document.createElement("td");
                    td.setAttribute("id", `${Year + Month + i}`);
                    td.className = "true";
                    let text = document.createTextNode(i);
                    td.appendChild(text);
                    row.appendChild(td);
                    count = 1; //以新的一行計算
                }
                else {
                    var td = document.createElement("td");
                    td.setAttribute("id", `${Year + Month + i}`);
                    td.className = "true";
                    let text = document.createTextNode(i);
                    td.appendChild(text);
                    row.appendChild(td);
                    count += 1;
                }
            }

            //新增最後一行空格
            let d = new Date(Year, Month - 1, totalDate);
            let lastDay = d.getDay();
            for (i = 1; i <= 6 - lastDay; i++) {
                let td = document.createElement("td");
                td.className = "false";
                row.appendChild(td);
            }
            fragtable.appendChild(row);
            tbody.appendChild(fragtable);
            document.querySelector("#tableCal").appendChild(tbody);

            //當天日期的邊框變色
            let thisYear = fullDate.getFullYear();
            let thisMon = (fullDate.getMonth() + 1) >= 10 ? (fullDate.getMonth() + 1) : ("0" + (fullDate.getMonth() + 1));
            if (thisYear == Year && thisMon == Month)
                $(`#${thisYear + thisMon + date}`).addClass("today");
        }

        //顯示當月排課
        function GetReservations() {
            $.getJSON("@Url.Content("~/Coach/GetAllReservation")", function (data) {
                $.each(data, function (index, record) {
                    if (record.courseDate.substr(0, 4) == Year && record.courseDate.substr(4, 2) == Month) {
                        let theDate = record.courseDate.substr(6, 2) < 10 ? record.courseDate.substr(7, 1) : record.courseDate.substr(6, 2);
                        let time = record.courseTime.substr(0, 2) + ":" + record.courseTime.substr(2, 2);
                        $(`#${Year + Month + theDate}`).append(`<div class="divRecord r${record.memberId} r${record.fCourseId}" data-toggle='modal' data-target=".modal_${record.fCourseId}"><b>${record.memberName}</b>-${time}</div>`);
                    }
                })


            }).done(() => {
                //取得所有MemberId，不同Member設定不同顏色
                $.getJSON("@Url.Content("~/Coach/GetReservationMemId")", function (data) {
                    let classCount = 1;
                    for (let i = 0; i < data.length; i++) {
                        $(`.r${data[i]}`).addClass(`color${classCount}`);
                        classCount++;
                        if (classCount == 11) {
                            classCount = 1;
                        }
                    }
                })
            })
        }
    </script>
}
